.first,
.second,
.third,
.fourth {
    line-height: 2;
    font-size: 15px;
    color: var(--color-text);
    overflow-wrap: break-word;
}

.first {
    list-style-type: upper-roman;
}

.second {
    list-style-type: upper-alpha;
}

.third {
    list-style-type: lower-alpha;
}

.fourth {
    list-style-type: lower-roman;
}

.bold {
    font-weight: bold;
}

.resourcepack_tytle_3_p {
    padding-right: 10px;
}

h2 {
    padding-left: 45px;
}

.article {
    padding-left: 0px;
}

.revision {
    padding-left: 20px;
}
