---
layout: default
---

<h1>{{ page.title | replace: '西隈サイト | ', '' }}</h1>

{% assign valid_logos = 'c-sharp,c-plus,html,css,js,java,python,svg,minecraft' | split: ',' %}

<div class="meta-container">
    {% if page.categories.size > 0 %}
    <div class="card-filters">
        <span class="title-tag AweSomeFont-Free"><span class="fa-solid fa-folder"></span></span>
        {% for category in page.categories %}
        {% assign category_slug = category | downcase | replace: 'c#', 'c-sharp' | replace: 'c++', 'c-plus' | replace: 'javascript', 'js' %}
        {% if valid_logos contains category_slug %}
        <span class="filter-label inline-logo {{ category_slug }} clickable-tag" data-tag="{{ category }}">{{ category }}</span>
        {% else %}
        <span class="filter-label clickable-tag" data-tag="{{ category }}">{{ category }}</span>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if page.tags.size > 0 %}
    <div class="card-tags">
        <span class="title-tag AweSomeFont-Free"><span class="fa-solid fa-tag"></span></span>
        {% for tag in page.tags %}
        {% assign tag_slug = tag | downcase | replace: 'c#', 'c-sharp' | replace: 'c++', 'c-plus' | replace: 'javascript', 'js' %}
        {% if valid_logos contains tag_slug %}
        <span class="tag-label inline-logo {{ tag_slug }} clickable-tag" data-tag="{{ tag }}">{{ tag }}</span>
        {% else %}
        <span class="tag-label clickable-tag" data-tag="{{ tag }}">{{ tag }}</span>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>

{{ content }}
