---
layout: default
---

<h1>{{ page.title | replace: '西隈サイト | ', '' }}</h1>

{% assign valid_logos = 'c-sharp,c-plus,html,css,js,java,python,svg,minecraft' | split: ',' %}

<div class="meta-container">

    {% if page.categories.size > 0 %}
    <div class="card-filters">
        <span class="title-tag AweSomeFont-Free">
            <span class="fa-solid fa-folder"></span>
        </span>

        {% for category in page.categories %}
        {% assign category_slug = category | downcase | replace: 'c#', 'c-sharp' | replace: 'c++', 'c-plus' | replace: 'javascript', 'js' %}

        <a href="/portfolio/?category={{ category | url_encode }}" class="filter-label clickable-tag{% if valid_logos contains category_slug %} inline-logo {{ category_slug }}{% endif %}" data-tag="{{ category }}">{{ category }}</a>

        {% endfor %}
    </div>
    {% endif %}


    {% if page.tags.size > 0 %}
    <div class="card-tags">
        <span class="title-tag AweSomeFont-Free">
            <span class="fa-solid fa-tag"></span>
        </span>

        {% for tag in page.tags %}
        {% assign tag_slug = tag | downcase | replace: 'c#', 'c-sharp' | replace: 'c++', 'c-plus' | replace: 'javascript', 'js' %}

        <a href="/portfolio/?tag={{ tag | url_encode }}" class="tag-label clickable-tag{% if valid_logos contains tag_slug %} inline-logo {{ tag_slug }}{% endif %}" data-tag="{{ tag }}">{{ tag }}</a>

        {% endfor %}
    </div>
    {% endif %}

</div>

{{ content }}
